header {
    height: 40vh;
}

.hero {
    background-image: url(../images/hero.JPG);
    background-position: top right;
    background-repeat: no-repeat;
    padding-left: 2vw;
}

.my-pic img{
    border: solid 0.2rem rgb(160, 157, 157);
    object-fit: cover;
    object-position: center;
}