/* Styles the navigation bar */
#navigator {
    background-color: #e8e8e8;
}

header {
    height: 45vh;
}

/* Styles the hero section */
.hero {
    background-image: url(../images/hero.JPG);
    background-position: top right;
    background-repeat: no-repeat;
    padding-left: 5vw;
    padding-top: 1rem;
}

h1 {
    font-size: 3vh;
    font-family: 'Amita', serif;
    color: rgb(79, 78, 78);
    white-space: nowrap;
    padding-left: 0.5rem;
}

.my-pic {
    height: 25vh;
    padding-left: 0.5rem;
}

.my-pic img{
    border: solid 0.2rem rgb(160, 157, 157);
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.subtitle {
    font-size: 1rem;
    white-space: nowrap;
    background-color: #e8e8e8;
}

#my-works, .personal-info {
    padding-top: 2vh;
    width: 90%;
}
