header {
    height: 50vh;
}

.hero {
    background-image: url(../images/hero.JPG);
    background-position: top right;
    background-repeat: no-repeat;
    padding-left: 5vw;
    padding-top: 5vh;
}

.my-pic {
    height: 30vh;
}

.my-pic img{
    border: solid 0.2rem rgb(160, 157, 157);
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.my-name {
    font-family: 'Amita', serif;
    color: rgb(79, 78, 78);
    white-space: nowrap;
}
